@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ComicNeue';
  src: url(/fonts/ComicNeue-Regular.woff2);
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url(/fonts/OpenDyslexic-Regular.woff2);
}

html,
body {
  @apply dark:bg-gray-900 dark:text-white;

  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

input[type='text'] {
  @apply dark:text-black;
}

button,
input[type='submit'] {
  @apply bg-gray-300 dark:border-gray-600 dark:bg-gray-900 dark:text-white;
}

a {
  @apply dark:text-white;

  &:hover {
    @apply underline;
  }

  &:visited {
    @apply dark:text-gray-600;
  }
}

.animate {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
