.heading {
  margin-bottom: 12px;
}

.list {
  margin: 0;
  padding: 0 0 0 24px;
}

.link:hover {
  text-decoration: none;
}

.link:visited {
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: red;
}
